<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="Liara" value="https://package-mirror.liara.ir/repository/nuget/index.json" />
        <!-- Official NuGet as fallback -->
        <add key="NuGetOfficial" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>